<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

  <div class="field">
    <%= @listing.title %>
  </div>
  <div class="field">
    <%= @listing.description %>
  </div>
  <div class="field">
    <%= @listing.price %>
  </div>
<%= render 'form' %>