<h1>Transactions#new</h1>
<p>Find me in app/views/transactions/new.html.erb</p>
<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2 class="mbs">New Transaction</h2>
  <%= form_tag transactions_path do%>
    <p>Please enter your payment details:</p>
    <div id="dropin"></div>
   
    <%= submit_tag "Pay #{current_user.bookings.find(params[:format]).listing.price}$", :class => "btn btn-primary" %>
  <%end%>
</div>